# Dataset
Link: https://raw.githubusercontent.com/twiradinata/datasets/main/property_surabaya.csv

Import Library

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Data loading

In [60]:
link = 'https://raw.githubusercontent.com/twiradinata/datasets/main/property_surabaya.csv'
dataset = pd.read_csv(link, sep=';')
dataset.head()

,cluster_name,surface_area,building_area,bedrooms,bathrooms,storey,community_price,price,ownership_status,facing,house_position,road_width,urgent,building_age,ready_to_use,furnished,category,pricing_category
0,Northwest Lake,72,69,2,2,2,1400000000,1350000000,Hak Guna Bangunan (HGB),Selatan,Standard,1-2 Mobil,No,1 - 4 Tahun,Yes,No,Premium,Over Priced
1,Bukit Palma,60,90,3,2,2,1000000000,1125000000,Pengikatan Perjanjian Jual Beli (PPJB),Selatan,Standard,1-2 Mobil,No,1 - 4 Tahun,Yes,No,Standard,Over Priced
2,Palma Classica,210,100,4,2,1,2400000000,1999000000,Hak Milik (SHM),Utara,Standard,> 2 Mobil,Yes,5 - 10 Tahun,Yes,No,Standard,Normal Price
3,Bukit Palma,120,54,3,1,1,800000000,850000000,Hak Milik (SHM),Selatan,Standard,> 2 Mobil,No,> 10 Tahun,No,No,Standard,Under Priced
4,Bukit Palma,60,90,3,2,2,800000000,1025000000,Hak Guna Bangunan (HGB),Selatan,Standard,> 2 Mobil,No,1 - 4 Tahun,Yes,No,Standard,Over Priced

In [61]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cluster_name      490 non-null    object
 1   surface_area      490 non-null    int64
 2   building_area     490 non-null    int64
 3   bedrooms          490 non-null    int64
 4   bathrooms         490 non-null    int64
 5   storey            490 non-null    int64
 6   community_price   490 non-null    int64
 7   price             490 non-null    int64
 8   ownership_status  490 non-null    object
 9   facing            490 non-null    object
 10  house_position    490 non-null    object
 11  road_width        490 non-null    object
 12  urgent            480 non-null    object
 13  building_age      448 non-null    object
 14  ready_to_use      490 non-null    object
 15  furnished         490 non-null    object
 16  category          490 non-null    object
 17  pricing_category  451 non-null    object
dtypes: int64(7), object(11)
memory usage: 69.0+ KB

In [62]:
dataset.describe()

,surface_area,building_area,bedrooms,bathrooms,storey,community_price,price
count,490.000000,490.000000,490.000000,490.000000,490.000000,4.900000e+02,4.900000e+02
mean,210.679592,241.763265,4.197959,3.265306,1.877551,4.418763e+09,4.506184e+09
std,204.129939,238.778138,2.155413,2.093671,0.512927,7.785302e+09,7.623816e+09
min,35.000000,32.000000,0.000000,1.000000,1.000000,3.000000e+08,3.000000e+08
25%,96.250000,110.000000,3.000000,2.000000,2.000000,1.500000e+09,1.400000e+09
50%,155.000000,178.500000,4.000000,3.000000,2.000000,2.500000e+09,2.550000e+09
75%,240.000000,280.000000,5.000000,4.000000,2.000000,4.500000e+09,4.300000e+09
max,2000.000000,2000.000000,36.000000,36.000000,4.000000,1.200000e+11,1.050000e+11

Data cleaning

In [73]:
dataset.isnull().sum()

cluster_name        0
surface_area        0
building_area       0
bedrooms            0
bathrooms           0
storey              0
community_price     0
price               0
ownership_status    0
facing              0
house_position      0
road_width          0
urgent              0
building_age        0
ready_to_use        0
furnished           0
category            0
pricing_category    0
dtype: int64

In [72]:
from sklearn.impute import SimpleImputer

categorical_imputer = SimpleImputer(strategy='most_frequent')
dataset.loc[:, ['urgent', 'building_age', 'pricing_category']] = categorical_imputer.fit_transform(dataset[['urgent', 'building_age', 'pricing_category']])

In [74]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
dataset.loc[:, ['cluster_name', 'ownership_status', 'facing', 'house_position', 'road_width', 'urgent', 'building_age', 'ready_to_use', 'furnished', 'category', 'pricing_category']] = dataset.loc[:, ['cluster_name', 'ownership_status', 'facing', 'house_position', 'road_width', 'urgent', 'building_age', 'ready_to_use', 'furnished', 'category', 'pricing_category']].apply(le.fit_transform)

dataset.head()

,cluster_name,surface_area,building_area,bedrooms,bathrooms,storey,community_price,price,ownership_status,facing,house_position,road_width,urgent,building_age,ready_to_use,furnished,category,pricing_category
0,79,72,69,2,2,2,1400000000,1350000000,0,1,2,0,0,0,1,0,0,1
1,9,60,90,3,2,2,1000000000,1125000000,2,1,2,0,0,0,1,0,2,1
2,83,210,100,4,2,1,2400000000,1999000000,1,3,2,2,1,1,1,0,2,0
3,9,120,54,3,1,1,800000000,850000000,1,1,2,2,0,2,0,0,2,2
4,9,60,90,3,2,2,800000000,1025000000,0,1,2,2,0,0,1,0,2,1

Splitting the data

In [83]:
#Regression
X = dataset.loc[:, dataset.columns != 'price']
y = dataset.loc[:, 'price']
#Classification
X_clf = dataset.loc[:, dataset.columns != 'pricing_category']
y_clf = dataset.loc[:, 'pricing_category']

In [85]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)
y_scaled = scaler.fit_transform(y.values.reshape(-1, 1))
X_clf_scaled = scaler.fit_transform(X_clf)
y_clf_scaled = scaler.fit_transform(y_clf.values.reshape(-1, 1))

In [86]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_scaled, test_size=0.2, random_state=0)
X_clf_train, X_clf_test, y_clf_train, y_clf_test = train_test_split(X_clf_scaled, y_clf_scaled, test_size=0.2, random_state=0)

In [70]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [81]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
def evaluate(model):
    y_pred = regressor.predict(X_test)
    print("R^2 : ", r2_score(y_test, y_pred))
    print("MAE :", mean_absolute_error(y_test,y_pred))
    print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred)))

In [82]:
evaluate(regressor)

R^2 :  0.9827645333008613
MAE : 0.005072792603318445
RMSE: 0.008524642635195733

In [95]:
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_clf_train, y_clf_train)

KNeighborsRegressor()

In [96]:
knn.score(X_clf_test, y_clf_test)

-0.1333333333333333